###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/tools/

##docker
/docker/mysql/mysql-data/
/docker/elasticsearch/
/docker/mysql/script/
/docker/php/ssh/
/docker/php/gitconfig

###< symfony/framework-bundle ###
